name: Node CI

on:
  pull_request:
    branches:
      - master

jobs:
  jest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
    - run: node -v
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: node -v
    - run: npm ci
    - run: npm test

  test-on-volta:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
    - uses: actions/checkout@v4
    - uses: volta-cli/action@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: node -v
    - uses: actions/checkout@v4

    - name: install yukichant on local
      run: |
        npm install
        npm install -g ../yukichant

    - name: mkdir sandbox
      run: mkdir -p ./exec_dir

    - name: check cli path
      run: which chant
      working-directory: ./exec_dir

    - run: chant
      working-directory: ./exec_dir

