name: Node CI

on:
  pull_request:
    branches:
      - master

jobs:
  jest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
    - run: node -v
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: node -v
    - run: npm ci
    - run: npm test

  cli-install:
    name: CLI install
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Global install
      run: |
        npm install
        npm install -g .

    - name: Verify CLI is available
      run: which chant
      working-directory: /tmp

    - name: Run CLI
      run: chant
      working-directory: /tmp

